<!--The content below is only a placeholder and can be replaced.-->
<header style="text-align:center" #header>
  <nav class="navbar">
    <div *ngIf="router.url ==='/' || router.url ==='/login' || router.url ==='/registration' || router.url === 'picture&pictureId='; then loggedOut else loggedIn"></div>
    <ng-template #loggedOut>
     <a  class="navbar-brand icon-name" routerLink="/">PostPic</a>
      <div class = "float-right">
        <a class = "btn btn-default" #log routerLink="/login">Sign in </a>
        <a class = "btn btn-default" #reg routerLink="/registration">Sign up </a>
      </div>
    </ng-template>
    <ng-template #loggedIn>
      <a  class = "navbar-brand icon-name btn"  (click)="btnToMainLoggedInPage()" >PostPic</a>
      <div ngbDropdown class="float-right">
        <a class="btn btn-default" id="dropdown" ngbDropdownToggle>
          <img [src]="getImg()" class="header-photo">
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdown">
          <button class="dropdown-item" (click)="editBtn()">Edit profile</button>
          <button class="dropdown-item" (click)="deleteUser()">Delete profile</button>
          <button class="dropdown-item" routerLink="/">Log out</button>
        </div>
      </div>
    </ng-template>
  </nav>
</header>
<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
