.icon-name {
  font-size: 45px;
  color: #d1d1e1!important;
}

nav {
  height: 70px;
  background-color:  #47476c;
}

.header-photo {
  width: 50px;
}


.header-loggedin-div {
  background-color:  #47476c;
  position: absolute;
  right: 0px;
}

.header-menu {
  height:110px;
}

.header-menu-ul {
  list-style-type: none;
  border-radius: 8px;
}

li a {
  text-decoration: none;
}

.header-menu-ul li {
  height:43px;
  font-size: 20px;
  color: #d1d1e1;
  text-align: right;
}

.header-log-pic {
  height:69px;
}

.header-log-pic button {
  display:none;
}

.btn-header-choose {
	color: #d1d1e1;
	font-size: 25px;

}

