<div class="border rounded  col-5 mx-auto my-4">
  <div class="row mt-5">
    <div class="col-3">
      <img class="img-fluid rounded" src = {{user.avatar}}/>
    </div>
    <div class="col-9">
      <h1 class="ml-4">{{user.name}}</h1>
      <p class="ml-4">Login: {{user.login}}</p>
      <p class="ml-4 font-italic" >email: {{user.email}}</p>
    </div>
  </div>
  <div class = "div-col-pics">
    <app-pictures-list [pictures]='user.pictures' [access]="access"></app-pictures-list>
  </div>
</div>


