<form  #userForm="ngForm" class="darker-default-bg col-4 mx-auto my-5 p-3" (ngSubmit)="save()">
  <h1> Sign up </h1>
  <h3>{{result}}</h3>
  <div class="col-5">
    <img class="img-fluid darker-default-bg" src={{filestring}}/>
  </div>
  <div class="form-group row">
    <label for="file-input" class="col-sm-2 col-form-label">Choose photo</label>
    <div class="col-sm-10 mt-3">
    <input id = "file-input" type="file" accept="image/png, image/jpeg" (change)="getFile($event)" name="picture" />
    </div>
  </div>
  <div class="form-group row">
    <label for="login" class="col-sm-2 col-form-label">Login</label>
    <div class="col-sm-10">
      <input id="login" type="text" class="form-control" name="login" [(ngModel)]="user.login" #login="ngModel" required />
      <div *ngIf="login.errors  && (login.dirty || login.touched)">
         <small  class ="form-text text-danger float-right" [hidden]="!login.errors.required"> Login is required!</small>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Full name</label>
    <div class="col-sm-10">
      <input id="name" type="text" class="form-control" [(ngModel)]="user.name" name="name" #name="ngModel" required/>
      <div *ngIf="name.errors  && (name.dirty || name.touched)">
        <small  class ="form-text text-danger float-right" [hidden]="!name.errors.required"> Name is required!</small>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" id="email" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required title="Input valid email"/>
      <div class="" *ngIf="email.errors  && (email.dirty || email.touched)">
        <small  class ="form-text text-danger float-right" [hidden]="!email.errors.required"> Email is required!</small>
        <small class ="form-text text-danger float-right" [hidden]="!email.errors.pattern"> Email isn't valid!</small>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="passwd" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" id="passwd" class="form-control" [(ngModel)]="user.password" #pswd="ngModel" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required title="Password must contains at least 6 letters, 1 uppercase, 1 lowercase and 1 number"/>
      <div class="" *ngIf="pswd.errors  && (pswd.dirty || pswd.touched)">
        <small  class ="form-text text-danger float-right" [hidden]="!pswd.errors.required"> Password is required!</small>
        <small class ="form-text text-danger float-right" [hidden]="!pswd.errors.pattern"> Password must contains at least 6 letters, 1 uppercase, 1 lowercase and 1 number</small>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <input class="btn-default m-2 p-2" type="submit" value="Submit" [disabled]="!userForm.form.valid" >
  </div>
</form>

