@import '~bootstrap/dist/css/bootstrap.min.css';

.btn-default {
	color: #d1d1e1;
  font-size: 25px!important;
  background-color:  #47476c;
  border-style: 2px solid #47476c;
  border-radius: 8px;
  box-shadow: none!important;
  width: 150px!important;
}

.btn-default:hover {
  background-color: #d1d1e1;
  color: black;
  text-decoration: none;
  border-style: 2px solid  #47476c;
  box-shadow: none!important;
  border-radius: 8px;
}

.darker-default-bg {
  background-color: #FBF9F9!important;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid #47476c;
}

.lighter-default-bx {
  background-color: #FBF9F9!important;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid #d1d1e1c;
}

body {
  font-family: "Garamond"!important;
}
