<div class="col-6 m-auto ">
  <!--Show users login in system-->
  <div class="row width-100 lighter-default-bx mt-3 ">
    <div class="col-3 border-right ">
      <input type="text" class="width-100 mt-3 form-control" [(ngModel)]="inputUsr" (ngModelChange)="searchUser($event)" placeholder="Input login for search"/>
      <ul class="usrlist">
        <li *ngFor="let user of users | filter: inputUsr" class="row"><a class="btn  btn-block  text-left" (click)="getChat(user.id, user.avatar,user.login)"><img class= "img-fluid img-avatar" [src]="user.avatar">{{user.login}}</a></li>
      </ul>
    </div>

    <!-- Show list of messages-->
    <div class="col-9 my-1 ">
      <div class="row border-bottom">
        <img class= "img-avatar mt-2 ml-2 mb-2" [src]="currDestUserImg"/>
        <h1>{{currDestUserLogin}}</h1>
      </div>
      <div class="txt-box">
        <div *ngFor="let msg of messages; let i=index">
          <div class="row m-1">
            <div *ngIf="msg.userIdSource !== userId then msgDestUser else msgSourceUser "></div>
          </div>
          <ng-template #msgSourceUser>
            <div class="col-7"></div>
            <div class="msg-block col-5">
              <button type="button" class="close float-right" title="Delete message">
                <span aria-hidden="true" (click) = "deleteMessage(msg.id, i)" >&times;</span>
              </button>
              <p>{{msg.text}}<p>
              <small class="float-right">{{msg.datetime | date: 'medium' }}</small>
            </div>
          </ng-template>

          <ng-template #msgDestUser>
            <div class="msg-block col-5" >
              <button type="button" class="close float-right" title="Delete message" >
                <span aria-hidden="true" (click) = "deleteMessage(msg.id, i)" >&times;</span>
              </button>
              <p>{{msg.text}}<p>
              <small class="float-right">{{msg.datetime | date:'medium' }}</small>
            </div>
            <div class="col-7"></div>
          </ng-template>
        </div>
      </div>

      <!--Send message-->
      <div>
        <textarea class="txtarea form-control" [(ngModel)]="txt"></textarea>
        <button class="btn btn-default mt-1 float-right" (click) = "addMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
