
.usrlist {
  list-style-type: none;
  width: 100%;
  height: 710px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.img-avatar {
  width:50px;
  height:50px;
  border-radius: 5px;
}

.input-srch{
  min-width: 100%;
}

.txtarea {
  height: 50px;
  min-width: 100%;
}

.txt-box {
  height: 650px;
  overflow-y: auto;
  overflow-x: hidden;
}

.msg-block {
  background-color: #d1d1e1;
  border: 8px solid #d1d1e1;
  border-radius: 5px;
  width: 45%;
  word-wrap: break-word;
}

.img-avatar-sml {
  width:40px;
  height:40px;
}
