.btn-side {
	color: #d1d1e1;
	width: 175px;
	text-decoration: none;
	box-shadow: none;
	border-radius: 8px;
	margin-left:-15px;
}

.btn-side:hover {
  color: black;
  text-decoration: none;
	border-style: 2px solid #47476c;
	box-shadow: none;
}

.list-side {
  list-style-type: none;
  margin-left: -50px;
}
