<div class="row m-auto">
  <div class="col-2">
    <div class="card lighter-default-bx my-5 mx-auto position-fixed">
      <div class="card-body ml-3">
        <img class="rounded" [src]="user.avatar" width="150" height="150"/>
        <h2>{{user.login}}</h2>
        <ul class="list-side">
          <li><a class="btn-side btn btn-lg text-left" (click)="openUserProfile();">My pictures</a></li>
          <li><a class ="btn-side btn btn-lg text-left" (click)="open(content)">Add pictures</a></li>
          <li><a class = "btn-side btn btn-lg text-left" (click)="openChat()">Chat</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class = "col-5">
    <app-pictures-list [pictures]='pictures' [access]="access"></app-pictures-list>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add picture</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        <img  class="img-fluid rounded darker-default-bg"  [src]="filestring"  *ngIf="filestring !=''"/>
      </div>
        <div class="form-group row mt-3 ">
          <label for="file-input" class="col-sm-2 col-form-label">Choose photo</label>
          <div class="col-sm-10">
            <input id = "file-input" class="mt-2" type="file" accept="image/png, image/jpeg" (change)="getFile($event)" name="picture" />
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="savePic();modal.close('Save click')">Save</button>
    </div>
  </ng-template>
</div>


