<form #loginForm="ngForm" class="darker-default-bg col-4 mx-auto my-5 p-3" (ngSubmit)="logging(login.value, password.value); login.value=''; password.value='';">
  <h1 class="mb-3"> Sign in </h1>
  <div class="alert alert-primary" role="alert" *ngIf="result">
    Input correct data
  </div>
  <div class="form-group row">
    <label for="login" class="col-sm-2 col-form-label">Login </label>
    <div class="col-sm-10">
      <input id="login" type="text" class="form-control"  #login/>
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class=" col-sm-2 col-form-label">Password </label>
     <div class="col-sm-10">
       <input id="password" type="password" class="form-control"  #password/>
     </div>
  </div>
  <div class="form-group row">
     <input id="submit" class="btn-default m-2 p-2" type="submit" value="Submit" />
  </div>
</form>
