

.comments-list {
  list-style-type: none;
}

.p-time {
  right:15px;
  top: 15px;
}

.usr-photo {
  width: 50px;
  height: 50px;
}

.usr-date {
  position: absolute;
  right: 15px;
  top: 5px;
}


.cmnt-usr-photo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-left: -15px
}

.cmnt-usr-txt {
  font-size: 15px;
  margin-top: -13px;
}

.card-pic {
  border: 2px solid #d1d1e1;
  background-color: #FBF9F9;
  border-radius: 8px;
}

.btn-cls {
  margin-top: 5px;
}
