<div class="col-6 mx-auto my-5 card-pic">
  <div class="row">
    <img class="usr-photo rounded mx-4 my-2" [src] = "getUserById(picture.userId).avatar"/>
    <h2 class="ml-2">{{getUserById(picture.userId).login}}</h2>
    <p class=" p-time position-absolute ">{{picture.datetime | date:'medium' }}</p>
  </div>
  <img class="img w-100" [src] = "picture.picture"/>
  <div class = "comments">
    <ul class="comments-list" >
      <li *ngFor="let com of comments; let i = index">
        <div class="row mt-3">
          <img class="cmnt-usr-photo" [src] = "getUserById(com.userId).avatar"/>
          <div class="col-9">
            <h5 class="cmnt-usr-login font-weight-bold">{{getUserById(com.userId).login}}</h5>
            <p class="cmnt-usr-txt">{{com.text}} </p>
          </div>
          <div class="col-1">
            <button type="button" class="close btn-cls" *ngIf = "com.userId == userId" title="Delete comment" >
              <span aria-hidden="true" (click) = "deleteComment(com.id, i)" >&times;</span>
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div class="input-group mb-4">
      <input type='text' class = "form-control"  [(ngModel)]='comment'/>
      <button [disabled]="!comment" (click)='saveComment()' class="btn ml-3">Add comment</button>
    </div>
  </div>
</div>
