<ul class="pictures">
  <li *ngFor="let pic of pictures; let j = index">
    <div class="card lighter-default-bx my-5">
      <div class="card-body">
        <div class="row">
          <img class="usr-photo rounded" [src] = "getUserById(pic.userId).avatar"/>
          <p class="ml-2">{{getUserById(pic.userId).login}}</p>
          <p class=" p-time position-absolute">{{pic.datetime | date:'medium' }}</p>
          <button type="button" class="close btn-cls position-absolute" title="Delete picture" *ngIf="access === 1">
            <span aria-hidden="true" (click) = "deletePicture(pic.id, j)" >&times;</span>
          </button>
        </div>
        <img class="img w-100 rounded" [src] = "pic.picture"/>
        <div class = "comments" *ngIf = "access === 0 || access === 1; then showComments else noShowComments"></div>
        <ng-template #showComments>
          <ul class="comments-list">
            <li *ngFor="let com of pic.comments; let i=index">
              <div class="row mt-3" *ngIf="i<2">
                <img class="cmnt-usr-photo" [src] = "getUserById(com.userId).avatar"/>
                <div class="col">
                  <h5 class="cmnt-usr-login font-weight-bold">{{getUserById(com.userId).login}}</h5>
                  <p class="cmnt-usr-txt">{{com.text}} </p>
                </div>
                <div >
                  <div class="col-1">
                    <button type="button" class="close btn-cls" *ngIf = "com.userId == userId" title="Delete comment" >
                      <span aria-hidden="true" (click) = "deleteComment(com.id, pic.id, j, i)" >&times;</span>
                    </button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="text-center">
            <a class="btn font-italic" (click)="showPicture(pic.id)">Show more...</a>
          </div>
          <div class="input-group">
            <input type='text' class = "form-control mr-3" [(ngModel)]="inputData[j]"/>
            <button [disabled]="inputDataState(j)" (click)='saveComment(pic.id, j)' class="btn">Add comment</button>
          </div>
        </ng-template>
        <ng-template #noShowComments>
          <div class="text-center">
            <p class="font-italic">You must be logged in to access</p>
          </div>
        </ng-template>
      </div>
    </div>
  </li>
</ul>
