.pictures, .comments-list {
  list-style-type: none;
}


.p-time {
  right:20px;
}

.usr-photo {
  width: 50px;
  height: 50px;
  margin-top: -10px;
}

.usr-date {
  position: absolute;
  right: 15px;
}

.cmnt-usr-photo {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-left: -15px
}

.cmnt-usr-txt {
  font-size: 15px;
  margin-top: -13px;
}

.btn-cls {
  right:3px;
}
