<form  #userForm="ngForm" class="darker-default-bg col-4 mx-auto my-4">
  <h1> Edit user  </h1>
  <!-- Message if user wasn't changed-->
  <div class="alert alert-primary" role="alert" *ngIf="incorrectEdit">
    <h3>User wasn't updated</h3>
  </div>

  <!-- Show current user's avatar-->
  <div class="col-5">
    <img class="img-fluid darker-default-bg" src={{filestring}}/>
  </div>
  <!-- Choose new picture-->
  <div class="form-group row">
    <label for="file-input" class="col-sm-2 col-form-label">Choose photo</label>
    <div class="col-sm-10 mt-3">
      <input id = "file-input" type="file" accept="image/png, image/jpeg" (change)="getFile($event)" name="picture" />
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Full name</label>
    <div class="col-sm-10">
      <input id="name" type="text" class="form-control" [(ngModel)]="user.name" name="name" #name="ngModel" required/>
      <div *ngIf="name.errors  && (name.dirty || name.touched)">
        <small  class ="form-text text-danger float-right" [hidden]="!name.errors.required"> Name is required!</small>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" id="email" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required title="Input valid email"/>
      <div class="" *ngIf="email.errors  && (email.dirty || email.touched)">
        <small  class ="form-text text-danger float-right" [hidden]="!email.errors.required"> Email is required!</small>
        <small class ="form-text text-danger float-right" [hidden]="!email.errors.pattern"> Email isn't valid!</small>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <button class= "ml-3" (click)="changePassword()">Change password</button>
    </div>
    <div *ngIf="!chgPass" class="mt-3 row">
      <label for="passwd" class="col-2 col-form-label">Password</label>
      <div class="col-10">
        <input type="password" id="passwd" class="form-control" [(ngModel)]="user.password" #pswd="ngModel" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required title="Password must contains at least 6 letters, 1 uppercase, 1 lowercase and 1 number"/>
        <div *ngIf="pswd.errors  && (pswd.dirty || pswd.touched)">
          <small class ="form-text text-danger float-right" [hidden]="!pswd.errors.pattern"> Password must contains at least 6 letters, 1 uppercase, 1 lowercase and 1 number</small>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row ml-1 my-4">
    <input class="btn btn-default" type="submit" value="Submit" [disabled]="!userForm.form.valid" (click)="save()">
    <a class="btn btn-light" (click)="getBack()">Get back</a>
  </div>
</form>
